<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Data Source=CharlotteBBDD.sqlite;Version=3;New=False;Compress=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="IVA" value="21"/>
    <add key="BackupPath" value="D:\\"/>
  </appSettings>
</configuration>